builds
packages
Omni-Utils/bin/
Omni-SaveLoad/bin/
Omni-Customitems/bin/
Omni-CustomSquads/bin/

Omni-Utils/obj/
Omni-SaveLoad/obj/
Omni-Customitems/obj/
Omni-CustomSquads/obj/

.vs
Omni-CustomSquads/obj/Debug/Omni-CustomSquads.dll
Omni-CustomSquads/obj/Debug/Omni-CustomSquads.pdb
/Omni-CustomSquads/obj
*.cache
*.dll
*.pdb
*.csproj
*.config
*.sln
*.csproj.user
*.xml
OmniCommonLibrary/obj/Debug/OmniCommonLibrary.csproj.FileListAbsolute.txt
OmniCommonLibrary/obj/Debug/OmniCommonLibrary.csproj.CopyComplete
OmniCommonLibrary/obj/Debug/Omni-CommonLibrary.csproj.FileListAbsolute.txt
OmniCommonLibrary/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
